* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 13px Helvetica, Arial;
  background-color: #3f3e38;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#logo {
  width: 20%;
  max-width: 500px;
  min-width: 250px;
  position: absolute;
  color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
  top: 10%;
  z-index: 2;
}
video {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  z-index: 1;
}
.inputContainer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.Inputdesign {
  background: #6f4e37;
  padding: 5px;
  border-radius: 5px;
}

.Inputdesign input {
  border: 0;
  padding: 10px;
  width: 85%;
  margin-right: 0.5%;
  color: whitesmoke;
  background: #6f4e37;
  outline: none;
}

.Inputdesign button {
  width: 14%;
  background: tomato;
  border: none;
  padding: 10px;
  border-radius: 5px;
  transition: 1s;
}

.Inputdesign button:hover {
  cursor: pointer;
  background: burlywood;
}
.infoContainer {
  padding: 3px;
}

#messages {
  width: 100%;
  list-style-type: none;
  height: 100%;
  margin: 0;
  margin-bottom: 80px;
  padding: 0;
  overflow: auto;
}

#messages li {
  padding: 5px 10px;
  background: burlywood;
  border-radius: 5px;
  margin: 10px;
  margin-left: 1%;
  color: #3f3e38;
}

#messages li:nth-child(odd) {
  margin-left: 7px;
  background: #6f4e37;
  border-radius: 5px;
  color: #fffde4;
}

#messages p {
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  font-weight: bold;
}

.login {
  position: absolute;
  z-index: 9;
  width: 100%;
  min-width: 375px;
  height: 100%;
  background-color: burlywood;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 120px;
  margin: 0px;
}

.loginstyle {
  max-width: 500px;
  background: linear-gradient(#6f4e37, #946c50);
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  border-radius: 5px;
  z-index: 2;
  box-shadow: 5px 5px 30px 0px;
}

.loginstyle input,
select {
  font-size: 2em;
  padding: 5px;
  margin: 5px 0px;
  outline: none;
  border: none;
}

.loginstyle button, #exitList {
  font-size: 2em;
  padding: 5px;
  margin: 5px 0px;
  background-color: burlywood;
  transition: 0.5s;
  border: none;
}

.loginstyle button:hover, #exitList:hover {
  background-color: #6f4e37;
  border-radius: 15px;
  cursor: pointer;
  color: #fffde4;
}
.topBanner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #6f4e37;
  font-size: 2em;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  color: #fffde4;
  text-align: center;
  max-width: 50%;
  min-width: 320px;
}
#roomName {
  padding: 0px 20px;
}
#checkUser{
  font-size:24px;
  background-color:#6f4e37;
  color:#fffde4;
  border:none;
  padding:5px;
}
#checkUser:hover{
  background-color:#fffde4;
  color:#6f4e37;
}
#signout {
  color: #fffde4;
  margin: 5px;
  font-size: 1em;
}

.chatBlock {
  min-height: 100vh;
  background: #3f3e38;
}
#showTyping {
  color: #fffde4;
  padding: 3px 10px;
}

#commands {
  width: 50%;
  border-radius: 5px;
  padding: 5px;
  background: burlywood;
  display: none;
  margin-bottom: 5px;
}

#background {
  position: fixed;
  z-index: 0;
  object-fit: cover;
}

img {
  height: 100%;
  width: 100%;
}

#membersContainer {
  padding:2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index:1;
  background: white;
  top:100px;
  left:47%;
  animation-name: move;
  animation-duration: 0.5s;
  border-radius: 5px;
}


.moveback{
  animation-name:moveBack;
  animation-duration: 0.5s;
}
@keyframes move {
  0%   {top:-50%;}
  100% {top:100px;}
}

@keyframes moveBack {
  0%   {top:100px;}
  100% {top:-50%;}
}

